#ogs-helper-timer {
	position: fixed;
	left: 0px;
	background-color: #fff;
	font-size: 24pt;
	border: solid #000 1px;
	padding: 4px;
	width: 2em;
	text-align: center;
}

#ogs-helper-think-meme {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -135px;
	margin-left: -355px;
	height: 365px;
	width: 710px;
	z-index: 1050;
}
